*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  color: #333;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1px;
}

#root {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

