:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position:relative;
}

.section-header{
  margin-bottom: 8rem;
  margin-top: 2.4rem;
}

.section-header h1{
  font-size: 5.2rem;
}


.empty-img{
  width: 30%;
  height: 100%;
}

.empty-text{
  font-size: 2rem;
  margin-bottom: 4.8rem;

}

.add-btn{
  position: absolute;
  right: 30rem;
}

.add{
  background: none;
  border: none;
}

.add-icon{
  height: 6.4rem;
  width: 6.4rem;
  background-color:#2563eb ;
  border-radius: 50%;
  color: #fff;
}