:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

}

.section-header {
  margin-bottom: 2rem;
  margin-top: 2.4rem;
}

.section-header h1 {
  font-size: 5.2rem;
}

.search-container{
  margin-bottom: 4rem;
}

.search-input{
  background: none;
  width: 50%;
  padding:0.8rem 0;
  outline: none;
  border:1px solid #2563eb;
  font-size:1.8rem;
  color: #6692f1;
}

.search-input:focus, .search-input:active{
  outline: none;
  border:1px solid #2563eb;
}

.empty-img {
  width: 30%;
  height: 100%;
}

.empty-text {
  font-size: 2rem;
  margin-bottom: 4.8rem;
}

.add-btn {
  position: absolute;
  right: 30rem;
}

.add {
  background: none;
  border: none;
}

.add-icon {
  height: 6.4rem;
  width: 6.4rem;
  background-color: #2563eb;
  border-radius: 50%;
  color: #fff;
}

.modal::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  min-width: 40%;
  min-height: 40%;
  z-index: 2;
  background: #fff;
  border: none;
  border-radius: 0.8rem;
  animation: slide-down-fade-in 0.3s ease-out forwards;
}

.new-task {
  padding: 2.4rem;
  text-align: center;
}

.heading-secondary {
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.new-task input{
  background: none;
  border-radius: 0.2rem;
  border: 1px solid #6692f1;
  width: 100%;
  font-size: 1.8rem;
  padding: 0.8rem 0;
  outline: none;
  margin-bottom: 6.4rem;
  color: #2563eb;
}

.new-task input:focus, .new-task input:active {
  border: 1px solid #6692f1;
  outline: none;
}

.task-btns{
  display: flex;
  justify-content: space-between;
}

.btn{
  outline: none;
  background: none;
  border: 1px solid #6692f1;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1.6rem;
}

.btn.cancel{
  color: #2563eb;
}

.btn.apply{
  background-color: #2563eb;
  color: #fff;
}

.task-lists{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 40%;
  transform: translateX(70%);
  text-align: left;
}

.tasks{
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasks-btn{
  font-size:2rem;
  font-weight: 600;
  background: none;
  border: none;
}

.action-btn{
  gap: 1.2rem;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.tasks:hover .action-btn{
  visibility: visible;
  opacity: 1;
}


.icon-btn{
  outline: none;
  border: none;
  background: none;
}

.icon{
  height: 2rem;
  width: 2rem;
  color: #ccc;
}

/* edit screen */
.edit-container{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.edit-container input{
  width: 100%;
  padding: 1.2rem;
  outline: none;
  border: none;
  font-size: 2rem;
}


.edit-container input:focus, .edit-container input:active {
  border: none;
  outline: none;
}

.edit-action-btn{
  display: flex;
  gap: 1.2rem;
}

.edit-btn{
  padding: 0.4rem 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  border-radius: 0.8rem;
}

.btn--save{
  background-color: #00cc00;
  color: #fff;

}

.btn--cancel{
  color: #000;
  border: 1px solid #2563eb;
}