:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

}

.section-header {
  margin-bottom: 8rem;
  margin-top: 2.4rem;
}

.section-header h1 {
  font-size: 5.2rem;
}

.empty-img {
  width: 30%;
  height: 100%;
}

.empty-text {
  font-size: 2rem;
  margin-bottom: 4.8rem;
}

.add-btn {
  position: absolute;
  right: 30rem;
}

.add {
  background: none;
  border: none;
}

.add-icon {
  height: 6.4rem;
  width: 6.4rem;
  background-color: #2563eb;
  border-radius: 50%;
  color: #fff;
}

.modal::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  min-width: 40%;
  min-height: 40%;
  z-index: 2;
  background: #fff;
  border: none;
  border-radius: 0.8rem;
  animation: slide-down-fade-in 0.3s ease-out forwards;
}

.new-task {
  padding: 2.4rem;
  text-align: center;
}

.heading-secondary {
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.new-task input {
  background: none;
  border-radius: 0.2rem;
  border: 1px solid #6692f1;
  width: 100%;
  font-size: 1.8rem;
  padding: 0.8rem 0;
  outline: none;
  margin-bottom: 6.4rem;
  color: #2563eb;
}

.new-task input:focus, .new-task input:active {
  border: 1px solid #6692f1;
  outline: none;
}

.task-btns{
  display: flex;
  justify-content: space-between;
}

.btn{
  outline: none;
  background: none;
  border: 1px solid #6692f1;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1.6rem;
}

.btn.cancel{
  color: #2563eb;
}

.btn.apply{
  background-color: #2563eb;
  color: #fff;
}
